{% extends "./base.html" %}
{% load find_with_GET %}

{% block title %}Новости проекта{% endblock %}
{% block container-md %}
<div class="row">
    <div class="col-lg-8">
        {% for news in object_list %}
        <div class="card my-2">
            <div class="card-body">
                <h5 class="card-title">{{news.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{news.created}}</h6>
                {% autoescape off %}
                <p class="card-text">{{news.body|truncatewords:50}}</p>
                {% endautoescape %}
                <a href="{{news.id}}" class="card-link">Подробнее</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="col-lg-4">
        <div class="card my-2 sticky-top">
            <div class="card-header">
                Фильтры
            </div>
            <div class="card-body">
                <form action="">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Дата от...</span>
                        </div>
                        <input type="date" class="form-control" name="dateFrom">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Дата до...</span>
                        </div>
                        <input type="date" class="form-control" name="dateTo">
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Фильтровать</button>
                </form>
            </div>
        </div>
    </div>

</div>

<div class="row justify-content-center align-items-center mt-3 mb-n3">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a></li>
            {% endif %}

            {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
            <li class="page-item"><p class="page-link">{{p}}</p></li>
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
            <li class="page-item"><a class="page-link" href="?page={{p}}">{{p}}</a></li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}